<% if(typeof result.des != 'undefined'){ %>
<hr class="dotted" />
<h2>Factura: </h2>

<div class="row">
  <div class="col">
    <h4>
      <span>TCA: </span> <span><%= (result.TCE*100).toFixed(4); %>%</span>
    </h4>
    <h4>
    <h4>
      <span>TEP: </span> <span><%= (result.TEP*100).toFixed(4); %>%</span>
    </h4>
    <h4>
      <span>Tasa Descontada: </span>
      <span><%= (result.tasaDes*100).toFixed(4); %>% </span>
    </h4>
    <h4>
        <span>Días: </span> <span><%= result.dias; %> días</span>
      </h4>
      <h4>
        <span>Costes Iniciales Totales: </span> <span><%= result.costIniciales.toLocaleString('es-PE',{ style: 'currency', currency: 'PEN' }); %></span>
      </h4>
      <h4>
        <span>Constes Finales Totales: </span> <span><%= result.costFinales.toLocaleString('es-PE',{ style: 'currency', currency: 'PEN' }); %></span>
      </h4>
  </div>
  <div class="col">
    <h4><span>Valor Nominal: </span> <span><%= result.valNom.toLocaleString('es-PE',{ style: 'currency', currency: 'PEN' }); %></span></h4>
    <h4>
      <span>Descuento: </span> <span><%= Number(result.des.toFixed(4)).toLocaleString('es-PE',{ style: 'currency', currency: 'PEN' }); %></span>
    </h4>
    <h4>
      <span>Valor Neto: </span> <span><%= Number(result.valNeto.toFixed(4)).toLocaleString('es-PE',{ style: 'currency', currency: 'PEN' }); %></span>
    </h4>
    <h4>
        <span>Valor Total a Recibir: </span> <span><%= Number(result.valNeto.toFixed(4)).toLocaleString('es-PE',{ style: 'currency', currency: 'PEN' }); %></span>
      </h4>
      <h4>
        <span>Valor Total a Entregar: </span> <span><%= Number(result.valNeto.toFixed(4)).toLocaleString('es-PE',{ style: 'currency', currency: 'PEN' }); %></span>
      </h4>
  </div>
</div>

<form action="/dashboard/save" method="POST">
  <button type="submit"  class="btn btn-primary mb-3" id="guardar">Guardar</button>
</form>

<form action="/dashboard/delete" method="POST">
  <button type="submit" class="btn btn-primary mb-3" id="borrar">Borrar</button>
</form>

<% } %>
