<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fas fa-user-plus"></i> Registro
      </h1>
      <%- include ("./partials/messages") %>
      <form action="/users/register" method="POST">
        <div class="form-group">
          <label for="dni">DNI<span style="color: coral;"> *</span></label>
          <input
            id="dni"
            pattern="^[0-9]{8}$" title="Debe tener 8 dígitos exactos." required
            name="dni"
            class="form-control"
            placeholder="Nro de Documento Nacional de Identidad"
            value="<%= typeof dni != 'undefined' ? dni : '' %>"
            required
          />
        </div>
        <div class="form-group">
          <label for="name">Nombre<span style="color: coral;"> *</span></label>
          <input
            type="name"
            id="name"
            name="name"
            class="form-control"
            placeholder="Nombre"
            required
            value="<%= typeof name != 'undefined' ? name : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="last_name">Apellido<span style="color: coral;"> *</span></label>
          <input
            type="name"
            id="last_name"
            name="last_name"
            class="form-control"
            placeholder="Apellido"
            required
            value="<%= typeof last_name != 'undefined' ? last_name : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="email">Email<span style="color: coral;"> *</span></label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Ingresa Email"
            required
            value="<%= typeof email != 'undefined' ? email : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="cel">Teléfono</label>
          <input
            type="tel"
            id="cel"
            name="cel"
            class="form-control"
            placeholder="Ingresa Telefono o Celular"
            
            value="<%= typeof cel != 'undefined' ? cel : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="dir">Dirección</label>
          <input
            type="dir"
            id="dir"
            name="dir"
            class="form-control"
            placeholder="Ingresa Dirección"
            value="<%= typeof dir != 'undefined' ? dir : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password">Contraseña<span style="color: coral;"> *</span></label>
          <input
            type="password"
            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" title="Por favor ingresa una contraseña con por lo menos una mayúscula" required
            id="password"
            name="password"
            class="form-control"
            placeholder="Crear contraseña"
            minlength="6"
            required
            value="<%= typeof password != 'undefined' ? password : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password2">Confirma Contraseña<span style="color: coral;"> * </span></label>
          <input
            type="password"
            id="password2"
            name="password2"
            class="form-control"
            required
            placeholder="Confirma Contraseña"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
          />
        </div>
        <p style="color: coral;">Requerido *</p>
        <button type="submit" class="btn btn-primary btn-block">
          Registrar
        </button>
      </form>
      <p class="lead mt-4">¿Ya tienes una cuenta? <a href="/users/login">Inicia Sesión</a></p>
    </div>
  </div>
</div>